<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="naru.narucof.backend.dao.UserMapper">

  <select id="selectFindByEmail" resultType="naru.narucof.backend.dto.UserDto">
    select * from naru.user where email = #{email};
  </select>

<insert id="insertSignUp" parameterType="naru.narucof.backend.dto.UserDto">
    INSERT INTO naru.user (userName, email,password,token) VALUES (#{userName}, #{email}, #{password}, #{token})
</insert>





</mapper>